# Archivos de Planificación y Utilidades Personales
PLAN_EVOLUCION_APP.md
limpiar_proyectos.ps1

# IDEs y Entorno
.vscode/
.idea/
*.iml
*.swp
*.bak

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Java/Gradle
.gradle/
build/
bin/
out/
target/
